body {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        background-image: url(../image/4.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
    
    .sign_up {
        font-size: 20px;
    }
    
    .sign_up:hover {
        background-color: #fff;
    }
    
    * {
        font-family: 'Poppins', sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    .about-sec {
        display: flex;
        padding: 3rem 0;
        width: 100%;
        justify-content: center;
        background: rgba(1, 2, 2, 0.5);
        margin-top: 106px;
    }
    
    .about-img {
        width: 250px;
        height: 250px;
        margin: 0 3rem;
    }
    
    .about-img img {
        height: 100%;
        width: 100%;
    }
    
    .about-intro {
        color: #fff;
        width: 400px;
        height: 250px;
        border-left: 3px solid #00b894;
        padding-left: 2rem;
        margin: 0 3rem;
    }
    
    .about-intro p {
        margin-top: 1.5rem;
        font-size: 14px;
        opacity: .7;
    }
    
    @media only screen and (max-width: 900px) {
        .about-sec {
            flex-direction: column;
            align-items: center;
        }
        .about-img {
            width: 80%;
        }
        .about-intro {
            width: 100%;
            height: 100%;
            border-top: 3px solid #00b894;
            border-left: none;
            padding: 1rem;
            margin-top: 2rem;
        }
        .about-intro h3, p {
            width: 80%;
        }
        .about-intro p {
            font-size: 12px;
        }
    }
    
    table {
        width: 99%;
        border-collapse: separate;
        margin: auto;
        text-align: center;
        margin-top: 50px;
        background-color: rgb(255, 255, 255);
        border-radius: 10px 10px 0 0;
    }
    
    table th {
        border-bottom: 2px solid rgb(187, 187, 187);
        padding: 10px 0;
        font-family: "balsamiq_sansitalic";
        color: black;
    }
    
    table tr td {
        border-right: 2px solid rgb(187, 187, 187);
        height: 58px;
        padding: 22px 0 0;
        font-family: monospace;
        border-bottom: 2px solid rgb(187, 187, 187);
        font-size: 22px;
        color: black;
    }
    
    table tr td a {
        background-color: rgb(255, 196, 0);
        color: black;
        border-radius: 5px;
        padding: 6px;
        text-decoration: none;
        margin: 10px;
        font-weight: 700;
    }
    
    table tr td button:hover {
        padding: 5px;
        border: 2px solid yellow;
        border-radius: 7px;
        background-color: red;
        color: white;
        cursor: pointer;
    }
    
    .topic_bus {
        text-align: center;
        color: #fff;
    }
    