
    body {
      background-image: url(../image/20.jpg);
      background-position: center;
      background-size: cover;
      height: 700px;
      background-repeat: no-repeat;
      background-attachment: fixed;
    }

    .adminTopic {
      text-align: center;
      color: #fff;
    }

    table {
      width: 99%;
      border-collapse: separate !important;
      margin: auto;
      text-align: center;
      margin-top: 50px;
      background-color: rgb(255, 255, 255);
      border-radius: 10px 10px 0px 0px;
    }

    table th {
      border-bottom: 2px solid rgb(187, 187, 187);
      padding: 10px 0px;
      font-family: "balsamiq_sansitalic" !important;
    }

    table tr td {
      border-right: 2px solid rgb(187, 187, 187);
      height: 58px;
      padding: 22px 0px;
      font-family: "monospace;" !important;
      border-bottom: 2px solid rgb(187, 187, 187);
      font-size: 20px;
    }

    table tr td a {
      color: white;
      border-radius: 5px;
      padding: 6px;
      text-decoration: none;
      margin: 10px;
      font-weight: 700;
    }

    table tr td button:hover {
      padding: 5px;
      border: 2px solid yellow;
      border-radius: 7px;
      background-color: red;
      color: white;
      cursor: pointer;
    }

    button {
      padding: 5px;
    }

    .btnPolicy {
      padding: 5px;
      border: 2px solid yellow;
      border-radius: 7px;
      background-color: red;
      color: white;
      margin-left: 20px;
    }

    .btnPolicy:hover {
      background: red;
      padding: 7px;
      cursor: pointer;
    }
 